#statusBox.alert {
  margin-bottom: 0;
}

.alert .glyphicon{
  display:table-cell;
}

.alert div,
.alert span{
  padding-left: 10px;
  display:table-cell;
}

textarea#labelText {
  resize: none;
}

.roundPreviewImage {
    border-radius: 100%;
}

#previewImg {
    border: 1px solid #444;
    max-height: 350px;
    width: auto;
    max-width: 100%;
    display: block;
    margin: 0 auto 10px auto;
}